/* CSS declarations go here */

*, *:before, *:after {
	box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6,p,body {
	font-family: 'Avenir' !important;
}

.error {
	color:red !important;
}

@font-face {
  font-family: Avenir; 
  src: url("/fonts/avenir.ttf");
}