<template name='about'>
	<div class='about-container'>
		<div class='ui top attached segment'>
			<div class="ui top attached label">How it Works</div>
			<div class='ui relaxed divided items'>
				<div class="item">
					<div class='ui tiny image'>
			    	<img src='images/signup.png'>
			    </div>
			    <div class="content">
			      <div class="header">Sign Up</div>
				      <div class='description'>
				      	The cost of the tournament is $50 all in. This includes the supply of all your coffee for the duration of the tournament. Roaster Madness costs less per cup than Tim Hortons.
				      </div>
			    </div>
			  </div>
			  <div class="item">
			  	<div class='ui tiny image'>
			    	<img src='images/vote.png'>
			    </div>
			    <div class="content">
			      <div class="header">Initial Vote</div>
			      <div class='description'>
			      	Vote for your favourite roaster in the city to help us narrow it down to the 8 roasters that will be entered into the tournament.
			      </div>
			    </div>
			  </div>
			  <div class="item">
			  	<div class='ui tiny image'>
			    	<img src='images/coffee.png'>
			    </div>
			    <div class="content">
			      <div class="header">The Competition Begins</div>
			      <div class='description'>
			      	Starting June 1st, we will bring you the beans from two roasters every sunday. You will drink both beans throughout the week, and then vote on your favourite between the two.
			      </div>
			    </div>
			  </div>
			  <div class="item">
					<div class='ui tiny image'>
						<img src="images/tournament.png">
					</div>
			    <div class="content">
			      <div class="header">Single Elimination</div>
			      <div class='description'>
			      	The winner of each week's matchup will move on, and the loser will be eliminated.
			    	</div>
			    </div>
			  </div>
			  <div class="item">
			  	<div class='ui tiny image'>
			    	<img src='images/trophy.png'>
			    </div>
			    <div class="content">
			      <div class="header">Best Roast in the City</div>
			      <div class='description'>
			      	After 7 weeks and many delicious cups of coffee later, we will crown the People's Choice Best Roaster in the City.
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<br>
		<a class='ui button' href="/">Back</a>
	</div>
</template>